/* src/App.css */

.user-container {
  text-align: center;
  margin-top: 50px;
}

.user-container h1 {
  font-size: 32px;
  font-weight: bold;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 20px;
}
